.super-border {
  width: 80%;
  margin-left: 10%;
  background-color: #F0F7EE;
  height: 100vw;
  margin-top: 10vw;
  margin-bottom: 20px;

  padding-top: 10px;
}


.fileform {
  display: none;
  position: fixed;
  top: 20;
  background-color: #4CAF50;

  border: 3px solid #f1f1f1;
  z-index: 9;
}





.superadmin-title {
  text-align: center;
  border-bottom: 8px solid greenyellow;
}

.first {
  margin-right: 10%;
  margin-left: 10%;
  width: 20%;
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}



.first:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.super-admin-restaurants {
  margin-top: 20px;
}

.super-borders {
  background-color: #D9D9D9;
  text-align: center;
  border: 2px solid black;
}


.lists-buttons {
  font-size: 20px;
  width: 50%;
  margin-top: 20px;
  margin-left: 20px;
  background-color: grey;
  border: 1px solid green;
  border-radius: 0px;
}

.the-restaurants-list {
  display: flex;
  flex-direction: column;

}

.check {
  margin-top: 20px;
  margin-left: 20px;
  width: 2vw;
  height: 2vw;
  background-color: aqua;
  border-radius: 0px;
  margin-left: 5%;
  margin-right: 5%;
}



.disable-text {
  margin-top: 35px;
  margin-left: 10px;
}

.resto-info-comp {
  display: flex;
  flex-direction: row;
}

.form-popup {
  display: none;
  position: fixed;
  top: 20;
  background-color: #4CAF50;

  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}